@import url(normalize.css);


.acciones{
    grid-template-columns: 1fr;
}

.acciones--carrito{
    display: none;
}

main {
    margin-top: 20vh;
}

.cesta{
    display: grid;
    justify-items: center;
    height: 80vh;
}

.cesta--productos{
    display: grid;
    grid-template-columns: 1fr;
    width: 80vw;
    gap: 5%;
}

.cesta--producto{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 5%;
    padding-bottom: 2%;
    border-bottom: 1px solid gainsboro;
    transition: all 1s ease;
}

.cesta--producto--imagen{
    width: 100%;
    height: 15vw;
}

.cesta--producto--imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cesta--total{
    margin-top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cesta--producto:hover{
    transform: scale(1.03);
}

.producto--acciones{
    display: flex;
    gap: 20px;
    align-items: center;
}

.ri-delete-bin-line{
    font-size: 150%;
}

.ri-delete-bin-line:hover{
    color: red;
    cursor: pointer;
}

.cesta--total {
    align-self: self-end;
    padding-bottom: 10vh;
    font-size: 200%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 80vw;
}

.total--pago {
    width: max-content;
    padding: 10px;
    background-color: var(--headerfooter-bg);
    color: var(--headerfooter-color);
    border: none;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.total--pago:hover{
    transform: scale(1.1);
    cursor: pointer;
}

