@import url(normalize.css);

.categoria--title{
  grid-column: 1 / -1;
  margin-top: 3vh;
}

.productos {
    width: 80vw;
    grid-row-start: 1;
    grid-row-end: -1;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    align-items: center;
    justify-items: center;
    margin-top: 5vh;
  }

  
  /* Estilo básico para cada artículo del producto */
  .producto {
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
    transition: all 1s ease;
  }

  .producto--imagen{
    height: 100%;
    width: 100%;
  }
  
  /* Asegurar que la imagen ocupe el 100% del contenedor */
  .producto--imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .producto--imagen img:last-child{
    display: none;
  }
  
  /* Estilo para el texto y el precio */
  .producto--texto,
  .producto--precio {
    margin: 10px 0;
  }

  .producto:hover{
    transform: scale(1.04);
    box-shadow: 1px 1px 10px gainsboro;
    border-radius: 10px;
  }

  .producto:hover img:first-child{
    display: none;
  }

  .producto:hover img:last-child{
    display: inherit;
  }


  