@import url(normalize.css);

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    align-items: center;
    background-image: url(../img/fondo.jpg);
    background-size: 20vw;
    background-repeat: repeat;
}

main .form--fieldset{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    border: none;
    text-align: center;
    margin-top: 5vh;
}

main .form--fieldset:last-child{
    border-left: 2px solid black;
}

.form--fieldset input{
    height: 5vh;
    width: 30%;
    justify-self: center;
    margin: 1%;
    padding: 1%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.form--fieldset figcaption{
    font-size: 200%;
    margin-bottom: 3vh;
}

.form--fieldset input[type=submit]{
    background-color: var(--headerfooter-bg);
    color: var(--headerfooter-color);
    border: 1px solid var(--headerfooter-bg);
    font-family: 'Coolvetica';
}

.form--fieldset input[type=submit]:hover{
    background-color: var(--border-color);
    cursor: pointer;
}

input:focus:invalid{
    color: rgb(128, 33, 33);
    background-color: rgb(250, 189, 189);
}

input:focus:valid{
    background-color: rgb(188, 248, 188);
}

@media screen and (max-width: 900px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 15vh;
    }

    form:last-child{
        margin-top: -20vh;
    }

    .form--fieldset input{
        width: 70vw;
    }

  }