/* Colores */
:root {
    --headerfooter-bg: black;
    --headerfooter-color: white;
    --border-color: gainsboro;
}

/* Fuentes */
@font-face {
    font-family: 'Candlescript';
    src: url(../fonts/Candlescript.otf);
}
@font-face {
    font-family: 'Coolvetica';
    src: url(../fonts/coolvetica\ rg.otf);
}

/* Quitar estilos predeterminados */
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a:visited{
    color: inherit;
}


body{
    width: 100%;
    font-family: 'Coolvetica';
}

/* Grid general */
.container{
    width: 100%;
    display: grid;
    grid-template-columns:
    [container-start] 1fr [center-start] repeat(
    8,
    [col-start] minmax(min-content, 11rem) [col-end]
    )
    [center-end] 1fr [container-end];
    grid-template-rows: 100vh repeat(5, min-content);
    row-gap: 10vh;
    margin-top: 15vh;
    margin-bottom: 10vh;
    justify-items: center;
    align-items: center;
}


section{
    grid-column-start: 1;
    grid-column-end: -1;
}

/* Estilos para el menú hamburguesa */
header{
    background-color: var(--headerfooter-bg);
    position: fixed;
    top: 0;
    left: 0;
    color: var(--border-color);
    display: grid;
    height: 15vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    z-index: 2;
    opacity: 90%;
}

header a{
    color: var(--border-color);
}

.menu{
    justify-self: center;
}

.logo{
    justify-self: center;
}

.acciones{
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.acciones a:hover{
    color: var(--border-color);
}

.acciones--login{
    margin-top: 1vh;
}

/* Icono carrito */
.ri-shopping-bag-line{
    color: white;
    font-size: 150%;
}

.menu--lista{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 15vh;
    left: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100vw;
    font-size: 20px;
    text-align: center;
    transition: all 1s ease;
    list-style: none;
    background-color: var(--headerfooter-bg);
}

.menu--lista--entrada {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.menu--lista--entrada:nth-child(4) {
    border-bottom: none;
    padding-bottom: 0;
}

.menu--lista--entrada a{
    color: var(--border-color);
    font-size: 100%;
    text-align: center;
}

.menu--lista--entrada:last-child{
    display: none;
}

.menu--toggle--input {
    opacity: 0;
}
  
.menu--toggle--label {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
    margin-top: -2vh;
}
  
.menu--toggle--bars {
    width: 100%;
    height: 4px;
    background-color: var(--border-color);
    border-radius: 4px;
}
  
.menu--toggle--bars:nth-of-type(2) {
    transition-duration: .8s;
}
  
.menu--toggle--bars:nth-of-type(1), .menu--toggle--bars:nth-of-type(3) {
    width: 70%;
}
  
.menu--toggle--input:checked + .menu--toggle--label .menu--toggle--bars {
    position: absolute;
    transition-duration: .5s;
}
  
.menu--toggle--input:checked + .menu--toggle--label .menu--toggle--bars:nth-of-type(2) {
    transform: scaleX(0);
    transition-duration: .5s;
}
  
.menu--toggle--input:checked + .menu--toggle--label .menu--toggle--bars:nth-of-type(1) {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}
  
 .menu--toggle--input:checked + .menu--toggle--label .menu--toggle--bars:nth-of-type(3) {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
 }
  
.menu--toggle--input:checked + .menu--toggle--label {
    transition-duration: .5s;
    transform: rotate(180deg);
 }

.menu--toggle--input:checked ~ .menu--lista{
    visibility: visible; 
    opacity: 100%;
}

.logo--link{
    font-family: 'Candlescript';
}

footer{
    background-color: var(--headerfooter-bg);
    width: 100%;
    color: var(--border-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer h4{
    margin-bottom: 1rem;
}

footer a{
    color: var(--border-color);
}

.ayuda, .nosotros, .legal, .pagos, .rrss{
    justify-self: center;
}

footer .rrss{
    grid-area: 2 / 2 / 3 / 4;
}

.pagos{
    text-align: center;
}

.pagos i{
    font-size: 150%;
}

.rrss{
    font-size: 300%;
    margin-top: 2rem;
}


@media screen and (max-width: 768px) {
    .acciones{
        grid-template-columns: 1fr;
    }

    .acciones--login{
        display: none;
    }

    .menu--lista--entrada:last-child{
        display: inherit;
    }

    .menu--lista--entrada:last-child {
        border-bottom: none;
    }

    .menu--lista--entrada:nth-child(4) {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--border-color);
    }

    .rrss{
        font-size: 200%;
    }
}
