@import url(normalize.css);

.producto {
    width: 80vw;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas, la primera ocupa 1fr y la segunda también 1fr */
    gap: 5%;
}
  
  .producto--imagenes {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; /* Dos filas, la primera se ajusta al contenido y la segunda también */
    gap: 1%;
  }
  
  .producto--imagenes--imagengrande {
    width: 100%;
    height: 70vh;
  }

  .producto--imagenes--imageneschicas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
  }
  
  
  /* Asegurar que las imágenes ocupen el 100% del ancho del contenedor */
  .producto--imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  

  .producto--contenido{
    width: 25vw;
    margin-top: 10vh;
  }

  .producto--contenido--precio{
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 150%;
  }

  .producto--contenido--tallas{
    list-style: none;
    display: flex;
    gap: 3rem;
    margin-bottom: 3vh;
  }

  .producto--contenido--talla{
    border: 1px solid var(--border-color);
    width: 3rem;
    text-align: center;
  }

  .producto--contenido--talla:hover{
    background-color: var(--border-color);
    cursor: pointer;
  }

  .producto--contenido--añadir{
    background-color: var(--headerfooter-bg);
    color: var(--headerfooter-color);
    padding: 0.4rem;
    width: 100%;
    font-family: 'Coolvetica';
  }

  .producto--contenido--añadir:hover{
    background-color: var(--border-color);
    cursor: pointer;
  }

  @media screen and (max-width: 900px) {
    .producto{
      display: flex;
      flex-direction: column-reverse;
    }

    .producto--contenido{
      width: 80vw;
      margin-bottom: 2vh;
    }
  }